doctype html
html
  head
    title= title
    script(src='/build/main.js')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/styles/auto-complete.css')
  body
    block content
