.spinner {
  top: inherit !important;
}

html, #app {
  background-color: #e9eaed;
  height: 100%;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

div.post-panel > div.panel-body {
  margin-bottom: -38px;
}
